.movie-container {
  width: 200px;
  min-width: 200px;

  position: relative;
  top: 0;
  left: 0;

  padding: 10px 20px;

  margin-bottom: 20px;

  img {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;
    width: 100%;
    min-height: calc(200px * 1.5);
    height: calc(200px * 1.5);
    background: #dbdbdb;
    overflow: hidden;
  }
  .title {
    font-weight: 700;
    color: #000;
  }

  .date {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
  }
}
